body {background-color: #e0e0eb;}
.iframe{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.col-lg{
	text-align: center;
}
.center-video{
	
	display: flex;
	justify-content: center;
	margin: 0 auto; 
	width:100%; 
	height:40rem;
}
.buttons{
	margin-bottom:100px;
	margin-right:50px;
}
.questions{
	text-decoration-style: bold;
}
#logopic{
	padding-bottom:0;
}
#loginBox {
    position: relative;
    text-align: center;
    margin-top: 10px !important;
    border: 2px solid white;
    padding-bottom: 15px;
    padding-top: 10px;
    }
 #borderBox{
 	    position: relative;
    text-align: center;
    margin-top: 100px !important;
    border: 2px solid white;
    padding-bottom: 15px;
    padding-top: 10px;
 }