body {background-color: #e0e0eb;}
.iframe{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.col-lg{
	text-align: center;
}
.center-video{
	
	display: flex;
	justify-content: center;
	margin: 0 auto; 
}
.buttons{
	margin-bottom:100px;
	margin-right:10px;
	width:40%;
	height:40%;
}