<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="rrs.css">
		<script src="scoring.js"></script>
	</head>
	<body>
		<div class="jumbotron">
      <h1 class="display-4">RRS Online Training</h1>
      <hr class="my-4">
        <p>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand">Welcome to your decontamination training!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

<!--
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Training 1<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Training2.html">Training 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Training3.html">Training 3</a>
            </li>
          </ul>
        </div>
    -->
        </p>
    </div>
<!-- Navbar code above ^^^-->
<!--https://youtu.be/gf6NHK-jXGc-->
<!-- End Jumbotron -->
<div class="container" align="center" id="loginBox">
    <label for="uname"><b>Full Name: </b></label><br>
    <input type="text" placeholder="Please enter full name" name="uname" required><br><br>

    <label for="depname"><b>Department: </b></label><br>
    <input type="text" placeholder="Please enter your department" name="depname" required><br><br>

    <label for="psw"><b>Class Login Key: </b></label><br>
    <input type="password" placeholder="Please enter class code" name="psw" required><br><br>

    <button type="submit" onclick="location.href='/Training1.html';">Login</button>
  </div>



<!--</div>
</div>
<div class="col-sm">
<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">An Introduction</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Senior Showcase Demo Reel</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">What is GIMM?</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">What are Artifacts?</a>
</div>
</div>
-->

</html>

